.foldersContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 70px;
  max-width: 1000px;
  width: 100%;
}

.folder {
  background-color: var(--color-gray-transparent);

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  max-width: 200px;
  width: 100%;
  height: 200px;
  border-radius: var(--radius);
  font-size: 18px;
}
